html, 
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; 
  
  }
  body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0);
  }
  .parent{
      font-size: 7rem;
      display: flex;
      justify-content:space-around;
      flex-direction:row;
      flex-wrap: wrap;
     color:rgb(67, 220, 247);
  }
  img {
    height:20rem;
    max-width: 100%;
  }
  .card {
    border: 1.5rem solid rgb(14, 26, 206);
    text-align: center;
    margin: 4rem;
    box-shadow: 0.75rem 0.75rem 0.5rem rgb(121, 127, 128);
    flex-basis: 25%;
    width: 40%;
    border-radius: 10px;
    padding:1rem;
    
    
  }
  h1:hover{
    animation-duration: 3s;
    animation:glow 1s ease-in-out infinite alternate;
  }
  h1{
  font-size:5rem;
  text-align: center;
  color: rgb(209, 25, 226);
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5rem #fff, 0 0 10rem #fff, 0 0 15rem rgb(192, 9, 79), 0 0 20rem rgb(192, 9, 79), 0 0 25rem rgb(192, 9, 79), 0 0 30rem rgb(192, 9, 79), 0 0 35rem rgb(192, 9, 79);
    }
    to {
      text-shadow: 0 0 10rem #fff, 0 0 15rem rgb(238, 69, 134), 0 0 20rem rgb(238, 69, 134), 0 0 25rem rgb(238, 69, 134), 0 0 30rem v, 0 0 35rem rgb(238, 69, 134), 0 0 40rem rgb(238, 69, 134);
    }
  }
  .button{
    font-size:4rem;
    align-self: center;
    justify-content: space-between;
  }
  .card:hover{
    transform: scale(1.1);
    outline: 1rem solid rgb(252, 247, 247);
    outline-offset: 1rem;
  }
  .button:hover{
    transform: scale(3.3);
    outline-offset: 1rem;
  }
  .button{
    animation-duration: 2s; 
  }
  .card{
    animation-duration: 2s;
    animation-name: slidein;
    
  }
  .slidein{
    animation-duration: 2s;
  }
  @keyframes slidein {
    from {
      margin-left: 50%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .card:hover {
    background-color: rgb(216, 37, 162);
  }
  .pulse{ 
    animation-duration: 1s;
  }
  .card:hover{ 
    animation: pulse 1s 
      infinite;
    animation-timing-function: linear;  
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
    }
  }
 
  
  

  
  