html, 
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; 
  
  }
  body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0);
  }
  .parent{
      font-size: 7rem;
      display: flex;
      justify-content:space-around;
      flex-direction:row;
      flex-wrap: wrap;
     color:rgb(67, 220, 247);
  }
  img {
    height:20rem;
    max-width: 100%;
  }
  .card {
    border: solid rgb(14, 26, 206);
    text-align: center;
    margin: 0.5rem;
    box-shadow: 0.75rem 0.75rem 0.5rem rgb(121, 127, 128);
    flex-basis: 20%;
    width: 30%;
    border-radius: 10px;
    padding:1rem;
    
  }
  h1{
  font-size:5rem;
  text-align: center;
  color: rgb(209, 25, 226);
  }
  